@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.nav-item{
    margin-top: 0px;
    margin-bottom: 0px;
}
.carousel-control-prev-icon{
    font-size: 3em;
}
body{
    font-size: .6em;
}
.container .lista {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    letter-spacing: 2px;
}

li {
    margin: 25px 40px;
    font-size: 1.3em;
}
.item1 {
    color: #0984e3;
    font-weight: 500;
}

/*BANNER- PHOTO*/
header .banner {
    position: relative;
    display: flex;
    align-items: center;
}
.frase {
    position: absolute;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 2px black;
    font-size: 3em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin: 30px;
    width: 70%;
    text-align: center;
    border-bottom: 2.5px solid rgba(44, 62, 80,0.8);
    line-height: 0.1em;
}

.title h2 span {
    background: #fff;
    padding: 0 20px;
    color: rgba(44, 62, 80,0.8);
    word-spacing: 4px;
    letter-spacing: 1px;
}


/* EXPERIENCIA */

.banner {
    position: relative;
    display: flex;
    justify-content: center;
}

.container-experiencia {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 0 60px 0;
}

.title-parrafo {
    color: #74BA29;
    font-style: oblique;
}

.texto {
    margin: 15px 0 0 0;
    text-align: justify;
}

.box .box-image {
    margin: 0 3em 0 0;
}

.img {
   border-radius: 30px;
   width: 300px;
   height: 12em;
}

.img3 {
    border-radius: 30px;
    width: 300px;
    height: 16em;
 }

 .img5 {
    border-radius: 30px;
    width: 300px;
    height: 19em;
 }
 .img6 {
    border-radius: 5px;
    width: 250px;
    height: 19em;
    margin: 0 0 0 50px;
 }
 .img7 {
    margin: 30px 0 0 0;
    border-radius: 30px;
    width: 300px;
    height: 12em;
 }
 .img8 {
    border-radius: 5px;
    width: 300px;
    height: 19em;
 }
 /*
 CUERPO TUTPRIALES
 */
.tutoriales {
    margin-top: 3em;
    margin-bottom: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 .tutos {
     width: 300px;
     height: 180px;
     transition: .5s;
 }

 .tutos:hover {

    transform: scale(.8);
}
.galeria-fotos{
    position: relative;
    left: 50%;
    transform: translateX(-40%);
}


/**/
.banner2 {
    background: #636e72;
    text-align: center;
}

.title2 h2 {
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2em;
}

/* GALERÍA DE FOTOS */

.picture .contenedor {
    width: 100%;
    margin-top: 100px;
}

.img-live {
    width: 100%;
    height: 16em;
    filter: grayscale(85%);
    cursor: pointer;
    transition: .5s;
}

.img-live:hover {
    transform: scale(1.2) rotate(5deg);
    filter: none;
}

.persona__columna {
    height: 14em;
    overflow: hidden;
}

.picture .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.parrafo2 p {
    text-align: center;
    color: #2d3436;
    font-size: 1.3em;
}

/* PIE DE PAGINA*/
.footer {
    display: flex;
    justify-content: center;
}



.footer h2 span {
    background: #fff;
    padding: 0 20px;
    color: #2d3436;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.footer h3 span {
    font-size: 1.3em;
    background: #fff;
    padding: 0 20px;
    color: #2d3436;
    word-spacing: 4px;
    letter-spacing: 1px;
}
.final p {
    text-align: center;
    color: #636e72;
    font-size: 1.2em;
}
.final p a {
    font-weight: 600;
}

.final ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.final ul li img {
    width: 150px;
    height: 150px;
    transition: .5s;
}

.final ul li img:hover {
    width: 180px;
    height: 180px;
}
.redes-social .row img{
    transition: .5s;
}
.redes-social .row img:hover{
    transform: scale(1.2);
}
/*
*LOGICA JAVASCRIPT
*/

.galeria {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.galeria.active {
    visibility: visible;
    opacity: 1;
}

.galeria .img__1 {
    outline: none;
    height: 80%;
}

.galeria .img__2 {
    outline: none;
    height: 80%;
}

.galeria .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}
/*RESPONSIVE*/
@media (min-width: 1000px) and (max-width: 1300px){
    .title h2 span {
        font-size: .8em;
    }
    .frase {
        font-size: 2.2em;
        -webkit-text-stroke: 1.8px black;
    }
    .footer h2 {
        margin: 15px;
        width: 80%;
        text-align: center;
        border-bottom: 2.5px solid #2d3436;
        line-height: 0.1em;
    }
    .galeria-fotos{
        position: relative;
        left: 50%;
        transform: translateX(-45%);
    }
    
   
}

@media (min-width: 760px) and (max-width: 999px){
    .title h2 span {
        font-size: .8em;
    }
    .frase {
        font-size: 2.2em;
        -webkit-text-stroke: 1.4px black;
    }
    .footer h2 {
        border-bottom: 1.5px solid #2d3436;
        line-height: 0.01em;
    }
    .footer h2 span {
        font-size: .4em;
    }
    
    .footer h3 span {
        font-size: .5em;
    }
   
}

@media (min-width: 300px) and (max-width: 759px){
    .title h2 {
        width: 90%;
        border-bottom: 0px solid rgba(44, 62, 80,0.8);
    }
    .title h2 span {
        font-size: .4em;
        width: 70%;
    }
    .frase {
        font-size: 1.4em;
        -webkit-text-stroke: 1px black;
    }
    .footer h2 {
        border-bottom: 0;
        line-height: 0.01em;
    }
    .footer h2 span {
        font-size: .4em;
    }
    
    .footer h3 span {
        font-size: .5em;
    }
    .nav-link{
        font-size: .7em;
    }
    .title-parrafo {
        font-size: 1.3em;
    }
    .subtitle{
        font-size: 1em;
    }
    .texto {
        font-size: .9em;
    }
    .banner2 h2 {
        font-size: 1.2em;
    }
    .parrafo2 p{
        font-size: .9em;
    }
    .galeria-fotos{
        position: relative;
        left: 50%;
        transform: translateX(-46%);
    }
}

